body {
  background-image: url("../images/Breakfast-at-Tiffany.jpg");
  text-align: center;
  color: white;
  font: weight;
}
h1 {
  text-align: center;
}

.dia1 {
  height: 100px;
}

.dia2 {
  height: 100px;
}

.dia3 {
  height: 100px;
}
.dia4 {
  height: 100px;
}
.dia5 {
  height: 100px;
}
.dia6 {
  height: 100px;
}
.dia7 {
  height: 100px;
}
